fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
sqlalchemy
alembic
asyncpg
python-dotenv
boto3
numpy
scipy
greenlet
python-jose[cryptography]
prometheus-client
python-multipart
requests
sounddevice
tzdata
httpx
amazon-transcribe
